#section1{
    background-color: red;
}

/*.makeMeBlue{
    color: red;
} */
div > p{
    color: green;
}

section > p{color:orange
}  

div p{color: black;}

.makeMeBlue p{color: red;}
 

article > .my{color: blue;}
.sl.lk.lanka{color: red;}


div li{list-style: none;}


a.pseudo:link , a.pseudo:visited{
    color: red;

    text-decoration: none;
             background-color: green;
             border:1px solid black;
             display: block;
             width: 50%;   
             text-align: center;
             margin-bottom: 2px;
 

}

a.pseudo:hover{color: blue;
        font-size: 50px;
        background-color: white;
}



.md{ margin-left:20%;}


   

#section1{
    background-color: red;
}

/*.makeMeBlue{
    color: red;
} */
div > p{
    color: green;
}

section > p{color:orange
}  

div p{color: black;}

.makeMeBlue p{color: red;}
 

article > .my{color: blue;}
.sl.lk.lanka{color: red;}


div li{list-style: none;}


a.pseudo:link , a.pseudo:visited{
    color: red;

    text-decoration: none;
             background-color: green;
             border:1px solid black;
             display: block;
             width: 50%;   
             text-align: center;
             margin-bottom: 2px;
 

}

a.pseudo:hover{color: blue;
        font-size: 50px;
        background-color: white;
}



.md{ margin-left:20%;}


   
